

<div class="container">

    <img src="\public\images\Ferrari-F1-racing-car-retro-driver_1920x1200 (1).jpg" id="bg" alt="">

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section>
    
</section>

</div>

