<div class="teams backopacity">

    <div class="container">

        <div class="row">



            {{#each allConstructors}}

            <div class="col-6 div-margin">

                <h2>{{name}}</h2>
                <img src="{{photo}}" alt="imagen del constructor">
                <a href="/constructors/{{_id}}">Click here to see more details</a>

            </div>
            {{/each}}


        </div>
    </div>

</div>