<div class="teams spacediv">

    <div class="container">
        <div class="row justify-content-around">

            {{#each allConstructors}}

            <div class="col-6 space">

                <div class="card opacicard text-center">

                    <h2 class="card-header">{{name}}</h2>

                    <!-- Card image -->
                    <div>
                        <img src="{{photo}}" alt="imagen del constructor">

                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <div class="card-footer text-center">
                            <a href="/constructors/{{_id}}" class="button">Más detalles</a>
                        </div>
                        
                    </div>

                </div>
            </div>

            {{/each}}

        </div>

    </div>

</div>
