<div class="teams">
    <div class="container">


        <div class="row spacediv">

            <div class="card opacicard text-center" >
                <h1 class="card-header" text-center>{{name}}</h1>
                <div class="card-body text-center">

                    <section class="teamdetail">

                        <h3>Nacionalidad: "{{nationality}}"</h3>
                        <img src="{{photo}}" alt="foto del circuito">

             
                    </section>
                        
                        <br>
                       
                        <figure class="imgfav">
                        
                            <a href="/profile/favconstructor/{{id}}"><img src="/images/heartfav.png"></a>
                        </figure>
                </div>

            </div>
        </div>


    </div>
</div>