body {
  font-family: 'Racing Sans One', cursive, Verdana, cursive;
  font-weight: 200; }

h1 {
  color: red;
  text-transform: uppercase; }

.menu {
  position: fixed;
  width: 100%;
  z-index: 9000;
  border-top: 2px solid red;
  border-bottom: 2px solid red; }

.button {
  border: 1px solid;
  color: darkred;
  text-transform: uppercase;
  display: inline-grid;
  padding: 12px 0;
  width: 200px;
  text-align: center;
  margin: 25px 0; }

.button:hover {
  text-decoration: none;
  color: red; }

.index {
  background: url("/images/Ferrari-F1-racing-car-retro-driver_1920x1200 (1).jpg") no-repeat;
  width: 100%;
  height: 1200px;
  background-size: cover; }

.teams {
  background: url("/images/F1-2020-All-Team.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  padding-top: 50px; }

.profile {
  background: url("/images/Mercedes-Box.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  padding-top: 50px; }

.teams img {
  width: 500px;
  object-fit: cover; }

.circuits {
  background: url("/images/eaurougeopa.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  padding-top: 50px; }

.circuitsdetails {
  background: url("/images/eaurougeopa.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  padding-top: 50px; }

.circuits img {
  width: 300px;
  object-fit: cover; }

.pilots {
  background: url("/images/pilots2020opa.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  padding-top: 50px; }

.pilotsdetails {
  background: url("/images/pilots2020opa.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 1200px;
  background-size: cover;
  padding-top: 50px; }

.pilotscard img {
  height: 450px;
  object-fit: cover;
  padding-bottom: 10px; }

.login {
  background: url("/images/cockpit-view.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 1200px;
  background-size: cover;
  padding-top: 50px; }

.register {
  background: url("/images/register.jpg") no-repeat center center;
  background-attachment: fixed;
  height: 1200px;
  background-size: cover;
  padding-top: 50px; }

.season {
  background: url("/images/topview.jpg") no-repeat center center;
  height: 1200px;
  background-size: cover;
  padding-top: 50px; }

.cardhedpad {
  padding-bottom: 20px; }

.spacediv {
  padding-top: 100px;
  padding-bottom: 100px; }

.space {
  margin-bottom: 50px; }

.imgcard {
  width: 600px;
  object-fit: cover; }

.teamdetail img {
  padding: 10px;
  width: 1000px;
  object-fit: cover; }

.circuitdetail img {
  width: 400px;
  height: 400px;
  object-fit: cover; }

.circuitprof img {
  width: 400px;
  object-fit: cover; }

.form-margin {
  margin-top: 20px; }

.div-margin {
  margin-bottom: 30px; }

.opacicard {
  background-color: rgba(245, 245, 245, 0.7); }

.opacicardseason {
  background-color: rgba(245, 245, 245, 0.7); }

label {
  font-size: 20px; }

h1,
h2,
h3 {
  font-weight: 200; }

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px; }

.imgfav img {
  height: 50px;
  width: 50px;
  transform: scale(0.7);
  transition: all .5s;
  object-fit: cover; }

.imgfav img:hover {
  transform: scale(1); }

/*# sourceMappingURL=style.css.map */