body {
  font-family: 'Racing Sans One', cursive;
  font-weight: 200;
}

h1 {
  color: red;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 9000;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  
}

.index{
  background: url("/images/Ferrari-F1-racing-car-retro-driver_1920x1200\ \(1\).jpg") no-repeat;  //center center fixed
  width: 1900px;
  height: 1200px;
  background-size: cover;
}

.teams{
  // position: fixed;
  background: url("/images/F1-2020-All-Team.jpg") no-repeat center center; //fixed;
  background-attachment: fixed; 
  // overflow: scroll;
  height: 100%;
  background-size: cover;
  padding-top: 50px;
}
.teams {
  // position: fixed;
  background: url("/images/F1-2020-All-Team.jpg") no-repeat center center; //fixed;
  background-attachment: fixed;
  height: 1200px;
  background-size: cover;
  padding-top: 50px;
}

.teams img {
  height: 300px;
  object-fit: cover;
}

.circuits {
  background: url("/images/eaurougeopa.jpg") no-repeat center center; //fixed
  background-attachment: fixed; 
  height: 100%;
  background-size: cover;
  padding-top: 50px;
}
.circuitsdetails {
  background: url("/images/eaurougeopa.jpg") no-repeat center center; //fixed
  background-attachment: fixed;
  height: 1200px;
  background-size: cover;
  padding-top: 50px;
}

.circuits img {
  float: left;
  width: 250px;
  height: 250px;
  object-fit: cover;
}



.pilots{
  background: url("/images/pilots2020opa.jpg") no-repeat center center; //fixed
  background-attachment: fixed; 
  height: 100%;
  background-size: cover;
  padding-top: 50px;
}
.pilotsdetails {
  background: url("/images/pilots2020opa.jpg") no-repeat center center; //fixed
  background-attachment: fixed;
  height: 1200px;
  background-size: cover;
  padding-top: 50px;
}

.pilots img {
  height: 350px;
  object-fit: cover;
}

.login{
  background: url("/images/cockpit-view.jpg") no-repeat center center; //fixed
  background-attachment: fixed; 
  height: 1200px;
  background-size: cover;
  padding-top: 50px;
}

.register{
  background: url("/images/register.jpg") no-repeat center center; //fixed
  background-attachment: fixed; 
  height: 1200px;
  background-size: cover;
  padding-top: 50px;
}

.season{
  background: url("/images/topview.jpg") no-repeat center center; //fixed
  height: 1200px;
  background-size: cover;
  padding-top: 50px;
}

.spacediv{
  padding-top: 100px;
}
.space{
  margin-bottom: 50px;
}

img {
  width: 200px;
  object-fit: cover;
}

.imgcard{
  width: 600px;
  object-fit: cover;
}


.teamdetail img{
  width: 900px;
  height: 500px;
  object-fit: cover;
}
.circuitdetail img{
  width: 400px;
  height: 400px;
  object-fit: cover;
}


.div-margin {
  margin-bottom: 30px;
}


.opacicard {
    background-color: rgba(245, 245, 245, 0.7);
 }

 .opacicardseason {
  background-color: rgba(120, 171, 236, 0.7);
}

label {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-weight: 200;
}

// .navbar {
//   margin-bottom: 70px;
// }

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}

.imgfav img {
  height: 50px;
  width: 50px;
  object-fit: cover;

}