<div class="circuits backopacity">

    <div class="container">
        <div class="row justify-content-between">

            {{#each allCircuits}}
            <div class="col-6">
                <h1>{{circuitName}}</h1> <br>
                <img src="{{photo}}" alt="foto del circuito"> <br>
                <a href="/circuits/{{_id}}">Click here to see more details</a>
            </div>
            {{/each}}


        </div>
    </div>
</div>