<div class="season">
    <div class="container">


        <div class="row">

            <div class="card">

                <h2 class="card-header">Calendario de Carreras, no te pierdas ninguna!</h2>

                <br>

                


                <div class="card-body">

                    <form id="form-season">
                        
                        <label for="">Introduce el número de la carrera</label>
                        <input id="input-round" type="text">
                        <button>Enviar</button>

                    </form> <br>

                    <ul>

                        <li id="result-season"></li> <br>
                        <li id="result-date"></li>

                    </ul>



                    <div class="col">

                        <img src="images/image.jpg" alt="foto f1 calendario">
                    </div>



                    <form id="form-pilot-results">
                        <h3>Comprueba los resultados de tu piloto favorito</h3>
                        
                        <label for="">Introduce el número de la carrera</label>
                        <input id="input-round-result" type="text">

                    
                        <label for="">Introduce un piloto</label>
                        <input id="input-pilot" type="text">

                        <button>Enviar</button>
                    </form>

                    <ul>

                        <li id="result-pilot"></li> <br>
                        <li id="result-laps"></li> <br>
                        <li id="result-speed"></li>

                    </ul>
                </div>

            </div>

        </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascripts/season.js"></script>

</div>