<div class="season spacediv">
    <div class="container">


        <div class="row spacediv">

            <div class="card opacicardseason">

                <h2 class="card-header">Race Schedule. Check the rounds and don't ever miss a race this season!</h2>

                <br>

                {{!-- <h3>Check the rounds and don't ever miss a race this season!</h3> <br> --}}


                <div class="card-body">

                    <form id="form-season">
                        {{!-- <select>
                        <option value="">current</option>
                        <option value="">2019</option>
                        <option value="">2018</option>
                        <option value="">2017</option>
                
                     </select> --}}
                        <label for="">Introduce a round</label>
                        <input id="input-round" type="text">
                        <button>Enviar</button>

                    </form> <br>

                    <ul>

                        <li id="result-season"></li> <br>
                        <li id="result-date"></li>

                    </ul>

                </div>
            </div>
        </div>



        {{!-- TARJETA DOS --}}

        <div class="row spacediv">


            <div class="card opacicardseason">

                <h2 class="card-header">Check the results of your favourite Pilot</h2>

                <br>

                <div class="card-body">


                    <form id="form-pilot-results">
                        <h3>Check the results of your favourite Pilot</h3>
                        {{!-- <select>
                            <option value="">current</option>
                            <option value="">2019</option>
                            <option value="">2018</option>
                            <option value="">2017</option>
                            
                        </select> --}} <label for="">Introduce a round</label>
                        <input id="input-round-result" type="text">

                        {{!-- <select>
                            <option value="">hamilton</option>
                            <option value="">alonso</option>
                            <option value=""></option>
                            <option value=""></option>
                        </select> --}}
                        {{!-- <input id="input2" type="text">--}}

                        <label for="">Introduce a pilot</label>
                        <input id="input-pilot" type="text">

                        <button>Enviar</button>
                    </form>

                    <ul>

                        <li id="result-pilot"></li> <br>
                        <li id="result-laps"></li> <br>
                        <li id="result-speed"></li>

                    </ul>
                </div>

            </div>
        </div>


    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascripts/season.js"></script>

</div>