<div class="season spacediv">
    <div class="container">


        <div class="row spacediv">

            <div class="card opacicardseason">

                <h2 class="card-header">Calendario de Carreras, no te pierdas ninguna!</h2>

                <br>

                


                <div class="card-body">

                    <form id="form-season">
                        
                        <label for="">Introduce el número de la carrera</label>
                        <input id="input-round" type="text">
                        <button>Enviar</button>

                    </form> <br>

                    <ul>

                        <li id="result-season"></li> <br>
                        <li id="result-date"></li>

                    </ul>

                </div>
            </div>
        </div>



        {{!-- TARJETA DOS --}}

        <div class="row spacediv">


            <div class="card opacicardseason">

                <h2 class="card-header">Check the results of your favourite Pilot</h2>

                <br>

                <div class="card-body">


                    <form id="form-pilot-results">
                        <h3>Comprueba los resultados de tu piloto favorito</h3>
                        
                        <label for="">Introduce el número de la carrera</label>
                        <input id="input-round-result" type="text">

                    
                        <label for="">Introduce un piloto</label>
                        <input id="input-pilot" type="text">

                        <button>Enviar</button>
                    </form>

                    <ul>

                        <li id="result-pilot"></li> <br>
                        <li id="result-laps"></li> <br>
                        <li id="result-speed"></li>

                    </ul>
                </div>

            </div>
        </div>


    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascripts/season.js"></script>

</div>