<div class="container">
    <div class="row">
        <div class="col">
            <h1>Race Schedule</h1> <br>

            <h3>Check the rounds and don't ever miss a race this season!</h3> <br>


            <form id="form-season">
                {{!-- <select>
                <option value="">current</option>
                <option value="">2019</option>
                <option value="">2018</option>
                <option value="">2017</option>
                
            </select> --}}
                <label for="">Introduce a round</label>
                <input id="input-round" type="text">
                <button>Enviar</button>

            </form> <br>

            <ul>

                <li id="result-season"></li> <br>
                <li id="result-date"></li>

            </ul>
        </div>


        <div class="col">

            <img src="images/image.jpg" alt="foto f1 calendario">
        </div>

    </div>




    <form id="form-pilot-results">
        <h3>Check the results of your favourite Pilot</h3>
        {{!-- <select>
                    <option value="">current</option>
                    <option value="">2019</option>
                    <option value="">2018</option>
                    <option value="">2017</option>
                    
                </select> --}} <label for="">Introduce a round</label>
        <input id="input-round-result" type="text">

        {{!-- <select>
                    <option value="">hamilton</option>
                    <option value="">alonso</option>
                    <option value=""></option>
                    <option value=""></option>
                </select> --}}
        {{!-- <input id="input2" type="text">--}}

        <label for="">Introduce a pilot</label>
        <input id="input-pilot" type="text">

        <button>Enviar</button>
    </form>

    <ul>

        <li id="result-pilot"></li> <br>
        <li id="result-laps"></li> <br>
        <li id="result-speed"></li>

    </ul>














</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/season.js"></script>