<div class="season spacediv">
    <div class="container">


        <div class="row spacediv">

            <div class="card opacicardseason">

                <h2 class="card-header">Calendario y Horario de carreras</h2>

                <br>



                <div class="card-body">

                    <form id="form-season">
                        
                        <label for="">Introduce el número de la carrera</label>
                        <input id="input-round" type="text">
                        <button class="btn btn-light">Enviar</button>

                    </form> <br>

                  

                        <h4 id="result-season"></h4> <br>
                        <h4 id="result-date"></h4>

                    

                </div>
            </div>
        </div>



        {{!-- TARJETA DOS --}}

        <div class="row spacediv">


            <div class="card opacicardseason">

                <h2 class="card-header">Comprueba los resultados de tu piloto</h2>

                <br>

                <div class="card-body">


                    <form  id="form-pilot-results">
                      
                        
                        <label for="">Introduce el número de la carrera</label>
                        <input id="input-round-result" type="text">

                    
                        <label for="">Introduce un piloto</label>
                        <input id="input-pilot" type="text">

                        <button class="btn btn-light">Enviar</button>
                    </form>

                    <ul>

                        <h4 id="result-pilot"></h4> <br>
                        <h4 id="result-laps"></h4> <br>
                        <h4 id="result-speed"></h4>

                    </ul>
                </div>

            </div>
        </div>


    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascripts/season.js"></script>

</div>