<h1>Race Schedule</h1> <br>

<h2>Check the rounds and don't ever miss a race this season!</h2>


<form id="form-season">
    {{!-- <select>
        <option value="">current</option>
        <option value="">2019</option>
        <option value="">2018</option>
        <option value="">2017</option>
        
    </select> --}}
    <label for="">Introduce a round</label>
    <input id="input-round" type="text">

    {{!-- <select>
        <option value="">hamilton</option>
        <option value="">alonso</option>
        <option value=""></option>
        <option value=""></option>
    </select> --}}
    {{!-- <input id="input2" type="text">--}}

     <button>Enviar</button> 
 
</form> <br>

<h2 id="result-season"></h2> <br>
<h2 id="result-date"></h2>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/season.js"></script> 