<div class="pilots">
    
    <div class="container">
        <div class="row justify-content-around">


            {{#each allPilots}}

            <div class="col-4 div-margin">

                <h2>{{givenName}} {{familyName}}</h2> <br>
                <img src="{{photo}}" alt="foto del piloto"> <br>
                <a href="/pilots/{{_id}}">More details</a>

            </div>

            {{/each}}

        </div>
    </div>
</div>