
    

    {{#each allPilots}}

    <h2>{{givenName}} {{familyName}}</h2>
    <img src="{{photo}}" alt="foto del piloto">
    <a href="/pilots/{{_id}}">Click here to see more details</a>

    {{/each}}



 